[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "*"
pystray = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3"

[scripts]
start = "python bin/stay_awake.py"
install = "pip install -r requirements.txt"
